html {
  scroll-behavior: smooth !important;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: beige;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 4rem;
}

.galeria {
     display: flex;
     flex-wrap: wrap;
     overflow-y: auto;
     padding: 16px;
     justify-content: start;
     margin: auto;
}
.galeria img{
    width: 100%;
    object-fit: cover;
    width: 80px;
    height: 80px;
    margin-right: 10px;
    display: block;
    margin-top: 10px;
}

.title {

}

.card {
    margin-right: 10px;
    position: relative;
}

.cuerpo-card {
    font-family: Arial, Helvetica, sans-serif;
    position: absolute;
    bottom: 0;
    padding: 10px;
    margin-right: 10px;
    background-color: rgb(0, 0,0,0.4);
    color: #fff ;
}

.cuerpo-card h5,
.cuerpo-card p{
    margin: 0;
}



.card img{
    width: 200px;
    object-fit: cover;
    height: 300px;
}

ul {
    list-style-type: none;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(255, 77, 0);
  }

  li {
    float:left;
  }
  
  .contact {
    float: right;
    background-color:black
  }
  
  .contact a:hover{
    background-color:rgba(60, 59, 59, 0.922)
  }
  
  li a {
    display: block;
    color: rgba(255, 255, 255, 0.95);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color: rgb(245, 81, 40);
  }
  
  .carrousel{
    width: 100%;
}

.conteCarrousel{
    width: 100%;
    height: 200px;
    overflow: hidden;
}

.itemCarrousel{
    position: relative;
    width: 100%;
    height: 100%;
}

.itemCarrouselTarjeta{
    width: 100%;
    height: 100%;
}

.itemCarrouselArrows{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%; 
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px; 
}

.itemCarrouselArrows > i:hover {
    cursor: pointer;
}

#itemCarrousel-1{
    background-color: rgb(226, 50, 50);
}

#itemCarrousel-2{
    background-color: rgb(50, 200, 226);
}

#itemCarrousel-3{
    background-color: rgb(200, 226, 50);
}

.conteCarrouselController{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

.conteCarrouselController > a{
    text-decoration: none;
    font-size: 2em;
    color: grey;
}

.itemCarrouselArrows > a > i{
    color: white;
}

img {
    width: 50%;
    height: 100%;
    
}


footer {
  max-width: 1000px;
  background: #000000;
  margin: 0 auto;
  border-radius: 0 0 20px 20px;
  color: #fff;
  text-align: center;
  padding: 30px;
  box-sizing: border-box;
  font-family: Arial;
  font-size: 18px;
}

